{%- match kind -%}
{%- when Edit::Edited { rows } -%}
<table>
    {%- for row in rows -%}
    <{% if row.is_last %}tfoot{% else %}tbody{% endif %}>
        <tr>
            <td><span class="timestamp">{{ row.timestamp }}</span></td>
            <td>{{ row.text_html|safe }}</td>
        </tr>
    </{% if row.is_last %}tfoot{% else %}tbody{% endif %}>
    {%- endfor -%}
</table>
{%- when Edit::Unsent { who, elapsed, part_idx } -%}
<span class="unsent">{{ who }} unsent message part #{{ part_idx }}
    {%- if let Some(elapsed) = elapsed %} {{ elapsed }} after sending{% endif -%}
    !</span>
{%- endmatch -%}